# Laravel
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Vendor
vendor/

# Node
node_modules/

# Cache
bootstrap/cache/*
!bootstrap/cache/.gitkeep
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db